// Rem output with px fallback
@mixin font-size($sizeValue: 1) {
  font-size: ($sizeValue * 16) * 1px;
  font-size: $sizeValue * 1rem;
}

// Center block
@mixin center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

// Clearfix
@mixin clearfix() {
  content: "";
  display: table;
  table-layout: fixed;
}

// Clear after (not all clearfix need this also)
@mixin clearfix-after() {
  clear: both;
}

// Transition
@mixin transition() {
  transition: .2s ease-in-out;
  -webkit-transition: .2s ease-in-out;
  -o-transition: .2s ease-in-out;
  -moz-transition: .2s ease-in-out;
}
@-webkit-keyframes FadeInLeft {
  0% {
    opacity:0;
    transform:translateX(-100%);
  }
  80% {
    opacity:1;
  }
  100% {
    opacity:1;
    transform:translateX(0);
  }
}

@-webkit-keyframes FadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@keyframes pulse {
  0% {
    transform: scale(1.05);
  }

  70% {
    transform: scale(1);
  }

  100% {
    transform: scale(1.05);
  }
}