input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
	color: $color__text-input;
	border: 1px solid #D5D5D5;
	border-radius: 5px;
	padding: 10px 15px;
	width: 100%;
	outline: none;
	margin-bottom:15px;
	&.wpcf7-not-valid{
		border: 2px solid red;
	}
	&:focus {
		color: $color__text-input-focus;
		border: 1px solid $color__company-secondary;
	}
}

select {
	border: 1px solid $color__border-input;
}
