h1, h2, h3, h4, h5, h6 {
	clear: both;
	font-family: $font__sec;
}

h1, .h1 {
	font-size: 24px;
	font-weight: 900;

	@media (min-width: 768px) {
		font-size: 32px;
	}
}

h2, .h2 {
	font-size: 21px;
	font-weight: 900;
	color: $color__company-primary;

	@media (min-width: 768px) {
		font-size: 28px;
	}
}

h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
	font-size: 18px;
	font-weight: 900;
	color: $color__company-secondary;

	@media (min-width: 768px) {
		font-size: 24px;
	}
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
	&.white {
		color: white;
	}
}
