body,
button,
input,
select,
textarea {
  color: $color__text-main;
  font-family: $font__main;
  font-size: 16px;
  line-height: $font__line-height-body;
}

main p {
  color: $color__text-main;
  font-family: $font__main;
  font-size: 14px;
  line-height: 18px;
  margin-bottom: 10px;
  strong {
    color: $color__company-secondary;
    margin-bottom: 10px;
    font-size: 16px;
  }
}


* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@import "headings";

@import "copy";