.about-us-block {
  width: 100%;
  padding: 20px;

  &__row {
    display: flex;
    flex-direction: column;
    justify-content: center;

    @media (min-width: 992px ) {
      flex-direction: row;
      justify-content: space-between;
    }
  }

  &__logo {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      max-width: 240px;
    }

    @media (min-width: 992px ) {
      width: 25%;
      &--left {
        justify-content: flex-start;
      }

      &--right {
        justify-content: flex-end;
      }
    }
  }

  &__content-container {
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 100%;
    margin: 30px 0;

    @media (min-width: 992px ) {
      width: 60%;
      margin: 0;
    }
  }

  &__title {
    @extend .h2;
    color: $color__company-primary;
    padding-bottom: 10px;
    border-bottom: 3px solid #dcdcdc;
    margin-bottom: 20px;
  }

  &__content {
    p {
      width: 100%;
      float: left;
      font-size: 14px;
      line-height: 18px;
      font-weight: 600;

      @media (min-width: 992px ) {
        width: calc(50% - 10px);
        font-size: 18px;
        line-height: 22px;
        &:nth-child(2) {
          margin-left: 20px;
        }
      }

      a{
        @extend .cta-btn;
        @extend .cta-btn__orange;
        max-width: 120px;
        display: block;
        margin-top: 15px;
      }
    }
  }
}