.featured-product-block {
  position: relative;
  border-radius: 100%;
  margin: 25px;

  .carousel-indicators {
    li {
      border-radius: 100px;
      width: 21px;
      height: 21px;
      background-color: $color__company-secondary;
      opacity: .5;

      &.active {
        opacity: 1;
      }
    }
  }

  .carousel-inner {
    border-radius: 200px;
  }

  &__item {
    min-height: 320px;
    background-size: cover;
    background-position: center;

    &--inner {
      padding: 40px;
      height: 100%;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      top:0;
      left: 0;
      right: 0;
      bottom: 0;
      max-width: 900px;
      margin: 0 auto;
      color: white;
      font-weight: 900;
      font-size: 21px;
      flex-direction: column;

      @media (min-width: 992px) {
        align-items: flex-start;
        flex-direction: initial;
      }

      a {
        position: relative;
        margin-top: 20px;

        @media (min-width: 992px) {
          position: absolute;
          bottom: 20px;
          right:80px;
        }
      }
    }
  }
}
