.filter-block {
  width: 100%;
  padding: 0;

  &--kinderen {
    .filter-block__filter-toggle {
      background-color: $color__company-tertiary;
    }
  }

  &--volwassenen {
    .filter-block__filter-toggle {
      background-color: $color__company-primary;
    }
  }

  &__filter-row {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;

    @media (min-width: 1440px ) {
      flex-direction: row;
    }
  }

  &__filter-column {
      width: 100%;
      margin-bottom: 60px;

    @media (min-width: 1440px ) {
      max-width: 390px;
      margin-bottom: 0;
      padding: 0 20px;
    }

    &.secondary-column {
      display: none;

      &.opened {
        display: block;
      }
    }
  }

  &__filter-toggle {
    width: 100%;
    position: relative;
    font-size: 21px;
    text-transform: uppercase;
    color: white;
    font-weight: bold;
    border-bottom-right-radius: 20px;
    display: inline-block;
    padding: 10px 120px 10px 30px;

    @media (min-width: 768px ) {
      font-size: 28px;
    }

    &:after {
      content:'';
      position: absolute;
      right: 30px;
      top: 18px;
      width: 0;
      height: 0;
      border: 0 solid transparent;
      border-right-width: 8px;
      border-left-width: 8px;
      border-bottom: 8px solid white;

      @media (min-width: 768px ) {
        top: 23px;
      }
    }

    &--opened {

    }

    &--secondary {
      background-color: $color__company-secondary !important;
    }
  }

  &__options {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    position: relative;

    &:after {
      position: absolute;
      content:'';
      right: 30px;
      top: - 10px;
      width: 0;
      height: 0;
      border: 0 solid transparent;
      border-right-width: 10px;
      border-left-width: 10px;
      border-bottom: 10px solid #dcdcdc;
    }
  }

  &__option {
    cursor: pointer;
    background-color: #dcdcdc;
    padding: 14px 30px;
    color: $color__text-main;
    text-align: center;
    transition: background-color .25s ease-in-out, color .25s ease-in-out;
    text-decoration: none !important;

    &:first-child {
      border-top-left-radius: 20px;
      border-top-right-radius: 20px;
      padding-top: 25px;
    }

    &:last-child {
      border-bottom-right-radius: 20px;
      border-bottom-left-radius: 20px;
      padding-bottom: 25px;
    }

    &.active {
      font-weight: bold;
    }

    &:hover {
      color: white;
      background-color: $color__company-tertiary;
    }
  }
}