.locations-block {
  &__tooltip {
    position: absolute;
    bottom: 0;
    z-index: 2;
    opacity: 0;
    height: auto;
    background-color: #dcdcdc;
    font-size: 14px;
    padding: 7px 15px;
    border-radius: 15px;
    transition: opacity .25s ease-in-out;

    &:after {
      content:'';
      position: absolute;
      right: 30px;
      top: -8px;
      width: 0;
      height: 0;
      border: 0 solid transparent;
      border-right-width: 8px;
      border-left-width: 8px;
      border-bottom: 8px solid #dcdcdc;

    }
  }

  &__item {
    position: relative;
    margin-bottom: 20px;
    max-width: 320px;
    span {
      font-size: 14px;
      display: block;
      cursor: default;
    }

    &:hover {
      .locations-block__tooltip {
        opacity:1;
        bottom: -100%;
      }
    }
  }
}