.content-partners-block {
  background-color: $color__company-primary;
  width: 100%;
  padding: 30px 0;

  &__title {
    display: flex;
    justify-content: center;
    align-items: center;

    span {
      @extend .h2;
      @extend .white;
      text-transform: uppercase;
    }
  }

  &__items {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 30px 0 0;
  }

  .splide {
    margin: 30px auto;
    max-width: 1640px;
    display: block;

    &__track {

    }

    &__pagination {
      bottom: -2rem;
    }

    &__slide {
      display: flex;
      justify-content: center;
      align-items: center;

      margin: 0 10px;
      @media (min-width:768px) {
        margin: 0 30px;
      }

      &:first-child {
        margin-left: 0;
      }

      &:last-child {
        margin-right: 0;
      }
      img {
        max-width: 100%;
        transition: opacity .25s ease-in-out;
        max-height: 75px;
        width: auto;
        &:hover {
          opacity: .7;
        }
      }
    }
  }

  &__item {



  }
}