.product-categories-block {
  display: flex;
  flex-direction: column;
  padding: 15px;

  @media (min-width: 767px) {
    flex-direction: row;
    padding: 0;

  }

  &__item {
    width: 100%;
    min-height: 360px;
    overflow: hidden;
    border-radius: 15px;
    margin: 0 0 25px 0;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


    @media (min-width: 767px) {
      margin: 25px;

    }

    &--block{
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    &:hover {
      .product-categories-block__overlay {
        filter: grayscale(0);
        transform: scale(1.05);
      }
    }

    &--title {
      display: inline-block;
    }
  }

  &__overlay {
    position: absolute;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    filter: grayscale(100%);
    transform: scale(1);
    transition: filter .25s ease-in-out, transform .75s ease-in-out;
  }

}