.social-media {
  margin-top: 15px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;

  &__icon {
    max-width: 38px;
    height: auto;
    margin-right: 15px;
    background-color: white;
    border-radius: 100%;
    transition: opacity .25s ease-in-out;

    &:hover {
      opacity: .7;
    }
  }
}
footer .social-media {
  justify-content: center;
  @media (min-width: 768px) {
    justify-content: flex-end;
  }

  &__icon {
    max-width: 38px;
    margin-left: 15px;
    margin-right: 0;
  }
}
