.title-quote-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 60px 0;
  width: 100%;

  &__title {
    @extend .h2;
    color: $color__company-primary;
    margin-bottom: 5px;
  }

  &__quote {
    @extend .h3;
    font-style: italic;
    color: $color__company-tertiary;
    margin-bottom: 35px;
  }

  &__content {
    p{
      margin-bottom: 0;
    }
  }
}