.cta-btn {
  color: white;
  padding: 12px 20px;
  text-transform: uppercase;
  border-radius: 40px;
  font-size: 16px;
  font-weight: 900;
  border-bottom: 2px solid;
  min-width: 180px;
  text-align: center;
  cursor: pointer;
  transform: translateY(0);
  transition: transform .25s ease-in-out, border-bottom-color .25s ease-in-out ;
  text-decoration: none !important;

  &__orange {
    background-color: $color__company-tertiary;
    border-color: darken($color__company-tertiary, 10%);

    &:hover {
      background-color: $color__company-primary;
      border-color: darken($color__company-primary, 10%);
    }
  }

  &__purple {
    background-color: $color__company-primary;
    border-color: darken($color__company-primary, 10%);
    &:hover {
      background-color: $color__company-secondary;
      border-color: darken($color__company-secondary, 10%);
    }
  }

  &__blue {
    background-color: $color__company-secondary;
    border-color: darken($color__company-secondary, 10%);
    &:hover {
      background-color: $color__company-tertiary;
      border-color: darken($color__company-tertiary, 10%);
    }
  }

  &__error {
    background-color: #dcdcdc !important;
    border-radius: 0 !important;
    font-size: 1rem !important;
    color: $red !important;
    font-weight: bold;
    border: none !important;
    transition: all .25s ease-in-out;

    &:hover {
      transform: none !important;
      color: $color__company-secondary !important;
    }
  }

  &:hover {
    color: white;
    text-decoration: none;
    transform: translateY(1px);
    border-bottom-color: transparent;
  }

}