$color__background-body: #fff;
$color__background-screen: #f1f1f1;
$color__background-hr: #ccc;
$color__background-button: #e6e6e6;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;

$color__text-screen: #21759b;
$color__text-input: #666;
$color__text-input-focus: #111;
$color__link: #70b2e2;
$color__link-visited: #db9222;
$color__link-hover: #db9222;
$color__text-main: #222;

$color__company-primary: #454b95; // Primaire kleur van website
$color__company-secondary: #70b2e2; // Secondaire kleur van website
$color__company-tertiary: #db9222; // Tertiary kleur van website
$red: #a00;

$color__border-button: #ccc #ccc #bbb;
$color__border-button-hover: #ccc #bbb #aaa;
$color__border-button-focus: #aaa #bbb #bbb;
$color__border-input: #ccc;
$color__border-abbr: #666;
