@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,900;1,900&family=Open+Sans:ital,wght@0,400;0,600;0,700;0,800;1,600&display=swap');

$font__main: 'Open Sans', sans-serif;
$font__sec: 'Lato', sans-serif;

$font__code: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
$font__pre: "Courier 10 Pitch", Courier, monospace;
$font__line-height-body: 1.1;
$font__line-height-pre: 1.6;