footer {
  .footer-container{

    &__menu-title {
      color: white;
      text-transform: uppercase;
      margin-bottom: 20px;
      display: block;
      @extend .h2;
    }

    &__menu {
      ul {
        padding-left: 0;
        margin-left: 0;
        list-style: none;
        li {
          margin: 10px 0;
          a {
            color: white;
            font-weight: bold;
            text-decoration: none;
            transition: color .25s ease-in-out;
          }

          &:hover {
            a {
              color: $color__company-tertiary;
            }
          }
        }
      }
    }

    &__upper {
      background-color: $color__company-secondary;
      padding: 30px 0;
    }

    &__lower {
      background-color: $color__company-primary;
      padding: 30px 0;

      .al-right {
        align-items: center;
        justify-content: center;
        display: flex;
        flex-direction: column;

        @media (min-width: 768px) {
          align-items: flex-end;
        }
      }

      .white-logo {
        display: flex;
        justify-content: center;
        margin-bottom: 15px;

        @media (min-width: 768px) {
          margin-bottom: 0;
          justify-content: flex-start;
        }
      }

      .contact-info {
        color: white;
        text-transform: uppercase;
        width: 100%;
        max-width: 420px;
        font-size: 12px;

        @media (min-width: 768px) {
          font-size: 18px;
        }

        .label {
          font-weight: bold;
          align-self: flex-start;
        }

        .value {
          align-self: flex-end;
        }

        a {
          color: white;
          transition: .25s ease-in-out all;
          &:hover {
            opacity: .7;
          }
        }

        &__address {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          margin-bottom: 10px;
        }

        &__e-mail {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          margin-bottom: 10px;
        }

        &__tel {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          margin-bottom: 10px;
        }
      }
    }
  }
}