header {
  position: relative;

  width: 100%;

  .header-container {
    position: relative;
    display: flex;
    width: calc(100% + 30px);
    left: -15px;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    background-color: white;
    border-style: solid;
    border-top: 0;
    border-left: 1px;
    border-right: 1px;
    border-width: 8px;
    border-radius: 50px;
    border-color: $color__company-secondary;

    @media (min-width: 992px) {
      justify-content: space-evenly;
    }

    &:after {
      content:'';
      position: absolute;
      width: 100vw;
      top: 44px;
      left: 0;
      right: 0;
      height: 55px;
      z-index: -1;
      background-color: $color__company-primary;
      transition: all .25s ease-in-out;

      @media (min-width: 767px) {
        height: 80px;
      }

      @media (min-width: 992px) {
        height: 100px;
      }
    }

    &.active-menu {
      &:after {
        bottom: initial;
        height: calc(100vh - 44px);
      }
    }

    h1 {
      position: relative;
      z-index: 9;
      margin: 10px 0;
      
      img {
        max-width: 140px;
        transform: scale(1);
        opacity: 1;
        transition: all .25s ease-in-out;
      }

      &:hover {
        img {
          opacity: .8;
          transform: scale(1.05);
        }
      }
    }

    nav {
      &.main-navigation, &.main-navigation-right {
        display: none;
        @media (min-width: 992px) {
          display: block;
        }
      }

      ul {
        padding: 0;
        margin: 0;
        list-style: none;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 100%;

        li {
          padding: 0 20px;
          position: relative;
          a {
            font-size: 18px;
            font-weight: 600;
            text-transform: uppercase;
            text-decoration: none;
            transition: color .25s ease-in-out;
            position: relative;

            &:after {
              content:'';
              position: absolute;
              width: 0;
              height: 2px;
              background-color: $color__company-tertiary;
              left: 0;
              bottom: -4px;
              transition: width .15s ease-in-out;
            }
          }

          &:hover {

            a {
              &:after {
                width: 100%;
              }
            }

            ul.sub-menu {
              opacity: 1;
              visibility: visible;
            }
          }

          ul.sub-menu {
            opacity: 0;
            visibility: hidden;
            position: absolute;
            top: 100%;
            display: flex;
            flex-direction: column;
            text-align: left;
            align-items: flex-start;
            padding: 30px 0 20px 0;
            z-index: 1;
            transition: opacity .25s ease-in-out;

            li {
              border-left:1px solid $color__company-secondary;
              border-right: 1px solid $color__company-secondary;
              background-color: white;
              display: block;
              width: 100%;
              padding: 0 10px;

              &:first-child {
                padding-top: 15px;
                border-top:1px solid $color__company-secondary;
              }

              &:last-child {
                border-bottom:1px solid $color__company-secondary;
                padding-bottom: 15px;
                a {
                  margin: 0;
                }
              }

              a {
                display: inline-block;
                margin: 0 0 10px 0;
                font-size: 16px;

                &:after {
                  content:none;
                }
              }
            }
          }
        }
      }
    }

    .hamburger-container {
      display: inline-block;
      cursor: pointer;
      z-index: 9;

      @media (min-width: 992px) {
        display: none;
      }

      .bar1, .bar2, .bar3 {
        width: 30px;
        height: 3px;
        background-color: $color__company-secondary;
        margin: 6px 0;
        transition: 0.25s;
      }

      &.active {
        .bar1 {
          -webkit-transform: rotate(-45deg) translate(-5px, 6px);
          transform: rotate(-45deg) translate(-5px, 6px);
        }

        .bar2 {
          opacity: 0;
        }

        .bar3 {
          -webkit-transform: rotate(45deg) translate(-7px, -8px);
          transform: rotate(45deg) translate(-7px, -8px);
        }
      }
    }

    &.active-menu {

      nav#mobile-navigation {
        transform: translateY(0);
        background-color: white;
        width: 100vw;
        height: 100vh;
        opacity: 1;
        pointer-events: all;

        ul {
          padding: 0;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          width: 100vw;
          height: 100vh;
          position: absolute;
          top: 0;

          li.menu-item {
            margin: 5px 0;
            a {
              color: $color__company-primary;
              font-size: 24px;
            }
          }

          &:not(.sub-menu) {
            li {
              opacity: 0;
              animation: FadeInLeft .25s linear;
              animation-fill-mode: forwards;

              &:nth-child(1) {
                animation-delay: .1s;
              }

              &:nth-child(2) {
                animation-delay: .2s;
              }

              &:nth-child(3) {
                animation-delay: .3s;
              }

              &:nth-child(4) {
                animation-delay: .4s;
              }

              &:nth-child(5) {
                animation-delay: .5s;
              }

              &:nth-child(6) {
                animation-delay: .6s;
              }

              &:nth-child(7) {
                animation-delay: .7s;
              }
            }
          }
        }
      }
    }

    .credits-count {
      position: absolute;
      bottom: -35px;
      right: 20px;
      text-align: right;
      color: #fff;
      font-weight: bold;
      z-index: 1;
      transition: opacity .25s ease-in-out;

      a {
        color: #fff;
      }

      &:hover {
        a {
          opacity: .7;
        }
      }
    }
  }
  nav#mobile-navigation {
    z-index: 2;
    display: block;
    position: fixed;
    height: 0vh;
    width: 0vw;
    top: 0;
    left: 0;
    opacity: 0;
    pointer-events: none;
    transition: opacity .25s ease-in-out;

    ul {

      li {
        background-color: transparent;
        opacity: 0;
        &.menu-item-has-children {
          text-align: center;
          margin-bottom: 20px;

          a {
            color: white;
            text-align: center;
            padding-right: 0;
            &:after {
              content: none;
            }
          }
          ul.sub-menu {
            display: flex;
            height: auto;
            width: auto;
            position: relative;
            visibility: visible;
            opacity: 1;
            li {
              border:0;
              margin-bottom: 10px;
              padding: 0;
              a {
                font-size: 18px !important;
                margin: 0;
              }

              &:not(:last-child) {
                margin-top: 10px;
              }
            }

          }
        }
      }

      &.sub-menu {
        padding: 0;
        margin: 0;
        position: relative;
        opacity: 1;
        pointer-events: all;
        transform: none;
        height: initial;
        width: initial;
        text-align: center;
        li {
          background-color: transparent;
          padding:2px 0;
          a {
            font-size: 14px;
          }
        }
      }
    }

    @media (min-width: 992px) {
      display: none;
    }
  }
}
