.sticky {
  display: block;
}

.hentry {
  margin: 0 0 1.5em;
}

.byline,
.updated:not(.published) {
  display: none;
}

.single .byline,
.group-blog .byline {
  display: inline;
}

.home {
  .entry-header {
    display: none;
  }
}

.entry-header {
  color: $color__company-tertiary;
  font-size: 32px;
  width: auto;
  margin-bottom: 20px;
  text-transform: uppercase;
  display: inline-block;
  border-bottom: 3px solid #dcdcdc;
}

.page-content,
.entry-content,
.entry-summary {
  margin: 0;
}

.post-content, #archive {
  margin-top: 40px;
  margin-bottom: 60px;
}

.page-links {
  clear: both;
  margin: 0 0 1.5em;
}

body {
  overflow-x: hidden;
}

.archive {
  .single-product {
    article.product {
      margin: 15px 0 60px;
    }
  }
}

.single-product {
  article.product {
    margin: 60px 0;

    .entry-title {
      color: $color__company-tertiary;
      text-transform: uppercase;
      text-align: center;
    }

    .product-image {
      &__img {
        position: relative;
        border-radius: 300px;
        min-height: 320px;
        background-size: cover;
        width: 100%;
      }
    }

    .product-info-block {
      margin: 60px 0;
      max-width: 640px;

      &__book-btn {
        background-color: $color__company-tertiary;
        border-top-right-radius: 40px;
        border-top-left-radius: 40px;
        transition: background-color .25s ease-in-out;

        a {
          padding: 0.6em 1em 0.4em;
          display: block;
          text-align: center;
          color: rgba(0,0,0,.8);
        }

        button,a  {
          width: 100%;
          background: transparent;
          font-size: 32px;
          text-transform: uppercase;

          &:hover {
            background: transparent;
          }

          &.not-active {
            border-top-right-radius: 40px;
            border-top-left-radius: 40px;
            background-color: #dcdcdc;
            border: none;
          }
        }

        input[type="number"], .stock {
          display: none;
        }

        form {
          margin: 0;
        }
      }

      &__product-data {
        padding: 30px;
        border-top: 3px solid white;
        background-color: #dcdcdc;
        border-bottom-left-radius: 40px;
        border-bottom-right-radius: 40px;

        font-size: 16px;

        .label {
          display: inline-block;
          min-width: 120px;
        }

        .price-field {
          display: flex;
          flex-direction: row;

          div:first-of-type {
            margin-right: 5px;
          }
        }
      }

      &__date {
        max-width: 420px;
        margin: 0 auto;
      }

      &__location {
        max-width: 420px;
        margin: 10px auto;
      }

      &__price {
        max-width: 420px;
        margin: 0 auto;
        display: flex;
        flex-direction: row;

        .price {
          font-size: 16px;
          font-weight: bold;
          color: $color__text-main;
        }
      }

      &__stock {
        max-width: 420px;
        margin: 10px auto 0 auto;
        display: flex;
        flex-direction: row;

        .value {
          font-size: 16px;
          font-weight: bold;
          color: $color__text-main;
        }
      }
    }

    .product-description {
      margin: 60px 0;

      &__title {
        font-weight: bold;
        font-size: 16px;
        margin-bottom: 10px;
        color: $color__company-tertiary;
      }

      &__content {
        p {
          font-size: 16px;
          line-height: 21px;
        }

        span {
          margin: 10px 0;
          display: block;
        }
      }
    }

    &.product_cat-kinderen {
      .entry-title {
        color: $color__company-tertiary;
      }

      .product-info-block {
        &__book-btn {
          background-color: $color__company-tertiary;
        }
      }

      .product-description {
        &__title {
          color: $color__company-tertiary;
        }
      }
    }

    &.product_cat-volwassenen {
      .entry-title {
        color: $color__company-primary;
      }

      .product-info-block {
        &__book-btn {
          background-color: $color__company-primary;
        }
      }

      .product-description {
        &__title {
          color: $color__company-primary;
        }
      }
    }

    .product-info-block {
      &__book-btn {
        &:hover {
          background-color: $color__company-secondary;
        }
      }
    }

    .product__upcoming {
      margin-top: 15px;

      &__lessons {
        ul {
          padding: 0;
          margin: 15px 0 0 0;
          list-style: none;
        }

        &__item {
          display: flex;
          flex-direction: column;
          flex-wrap: wrap;
          justify-content: space-between;
          padding: 30px;
          background-color: #dcdcdc;
          border-radius: 40px;
          font-size: 16px;
          margin-bottom: 30px;

          @media (min-width: 768px) {
            flex-direction: row;
          }

          &__title-block {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            width: 100%;
          }

          &__column {
            flex: 0 0 15%;
            display: flex;
            flex-direction: column;
            margin-bottom: 10px;
            padding-right: 15px;

            @media (min-width: 768px) {
              margin-bottom: 0;
            }

            .not-active {
              background-color: transparent;
              border-color: transparent;
              color: $color__text-main;
            }

            &:last-child {
              align-self:center;
            }
          }
        }
      }
    }
  }
}

.text-width {
  max-width: 920px;
  margin-bottom: 60px;
}

.blokken {
  ul {
    padding-left: 0;
  }

  &__item {
    display: flex;
    flex-direction: column;
    border-top: 3px solid white;
    background-color: rgba(0,0,0,.05);
    border-radius: 100px;
    position: relative;
    padding: 20px 40px;
    margin-bottom: 20px;

  }
}

.credits {
  display: flex;
  flex-direction: column;

  &__product {
    margin-bottom: 15px;

  }
}

.archive-product {
  width: 100%;
  margin-bottom: 50px;

  .product-info-block {
    display: flex;
    flex-direction: column;
    border-top: 3px solid white;
    background-color: #dcdcdc;
    border-top-right-radius: 100px;
    position: relative;
    padding-bottom: 20px;

    @media (min-width: 620px) {
      flex-direction: row;
      padding-bottom: 0;
    }

    .product-image {
      min-width: 100%;

      @media (min-width: 620px) {
        min-width: 30%;
      }

      &__img {
        position: relative;
        min-height: 180px;
        background-size: cover;
        background-position: center;
        width: 100%;

        @media (min-width: 620px) {
          min-height: 240px;
        }
      }
    }

    &__title {
      font-weight: bold;
      margin-bottom: 20px;
    }

    &__read-more {
      position: relative;
      margin: 0 20px;
      @extend .cta-btn;
      @extend .cta-btn__blue;

      @media (min-width: 620px) {
        margin: 0;
        position: absolute;
        right: 330px;
        bottom: -15px;
      }
    }


    &__book-btn {
      position: relative;
      margin: 10px 20px 0;
      border-top-right-radius: 40px;
      border-top-left-radius: 40px;
      transition: background-color .25s ease-in-out;

      @media (min-width: 620px) {
        margin: 0;
        position: absolute;
        right: 0;
        bottom: -19px;
      }

      a {
        padding: 0.6em 1em 0.4em;
      }

      button, a {
        @extend .cta-btn;
        font-family: $font__main;
        width: 100%;
        padding: 15px 20px;
        background: transparent;
        font-size: 16px;
        line-height: 16px;
      }

      input[type="number"], .stock {
        display: none;
      }

      form {
        margin: 0;
      }
    }

    &__product-data {
      padding: 30px;
      font-size: 16px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;

      .label {
        display: inline-block;
        min-width: 120px;
      }

      .price-field {
        display: flex;
        flex-direction: row;

        div:first-of-type {
          margin-right: 5px;
        }
      }
    }

    &__date {
      max-width: 420px;
    }

    &__location {
      max-width: 420px;
    }

    &__price {
      max-width: 420px;
      display: flex;
      flex-direction: row;

      .price {
        font-size: 16px;
        font-weight: bold;
        color: $color__text-main;
      }
    }
  }

  &.kinderen {
    .entry-title {
      color: $color__company-tertiary;
    }

    .product-info-block {
      &__book-btn {
        button {
          background-color: $color__company-tertiary;
          border-color: darken($color__company-tertiary, 10%);

          &:hover {
            background-color: $color__company-primary !important;
            border-color: transparent;
          }
        }
      }
    }

    .product-description {
      &__title {
        color: $color__company-tertiary;
      }
    }
  }

  &.volwassenen {
    .entry-title {
      color: $color__company-primary;
    }

    .product-info-block {
      &__book-btn {
        button {
          background-color: $color__company-primary;
          border-color: darken($color__company-primary, 10%);

          &:hover {
            background-color: $color__company-secondary !important;
            border-color: transparent;
          }
        }
      }
    }

    .product-description {
      &__title {
        color: $color__company-primary;
      }
    }
  }
}

:target {
  border: 5px solid $color__company-secondary;
  border-radius: 40px;
  animation: fadeAnimation 5s ease-in-out forwards;
}

@keyframes fadeAnimation {
  0% {
    border: 5px solid $color__company-secondary;
  }
  100% {
    border: 5px solid transparent;
  }
}