#single-product-page {

}

section#page-single, section#page-woo {
  padding: 75px 0 0;
}

.woocommerce {
  .entry-summary {
    margin-top: 0;
    .product_title {
      margin-bottom: 0;
    }
    .price {
      margin: 25px 0;
      span.amount {
        font-size: 2rem;
      }
    }
  }
  p.form-row {
    float: none;
    width: 100%;
    label{
      width:100%;
    }
    span.woocommerce-input-wrapper{
      width:100%;
    }
  }
  ul.products {
    li.product {
      .woocommerce-loop-product__title {
        font-size: 1.5rem;
        font-weight: 300;
      }
      .price{
        font-size:1.25rem;
      }
    }
  }
  form.login, form.register {
    margin-bottom: 75px;
    label {
      display: block;
      width: 100%;
    }
    span.password-input {
      width: 100%;
    }
    input {
      float: none;
    }
  }
  .woocommerce-MyAccount-navigation {
    margin-bottom: 25px;
    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      li {
        padding: 10px;
        background: rgba(0, 0, 0, 0.05);
        border-bottom: solid 1px #fff;
        color: $color__text-main;
        &.is-active {
          background: $color__company-primary;
          a {
            &:link, &:visited {
              color: #fff;
              font-weight: bold;
            }
          }
        }
        a {
          &:link, &:visited {
            color: $color__text-main;
            font-weight: 300;
          }
        }
        &:last-of-type {
          border: none;
        }
      }
    }
  }
  .woocommerce-MyAccount-content {
    .woocommerce-Addresses {
      .primary-btn {
        display: table;
        margin-bottom: 25px;
      }
    }
    form {
      margin-bottom: 75px;
      p.form-row {
        float: none;
        width: 100%;
      }
      label, span.woocommerce-input-wrapper {
        display: block;
        width: 100%;
      }
      span.password-input {
        width: 100%;
      }
      input {
        float: none;
      }
      button[type="submit"] {
        margin-top: 15px;
      }
    }
  }
  .woocommerce-customer-details {
    .woocommerce-column--billing-address {
      margin-bottom: 25px;
    }
  }
}

.woocommerce #respond input#submit.alt, .woocommerce a.button.alt, .woocommerce button.button.alt, .woocommerce input.button.alt {
  background-color: $color__company-secondary;
  &:hover {
    background-color: $color__company-primary;
  }
}

.woocommerce #respond input#submit, .woocommerce a.button, .woocommerce button.button, .woocommerce input.button {
  @include transition;
  background-color: $color__company-secondary;
  color: #fff;
  &:hover {
    background-color: $color__company-primary;
    color: #fff;
  }
}

.woocommerce button.button:disabled, .woocommerce button.button:disabled[disabled] {
  background: rgba(0, 0, 0, 0.1);
}

form.checkout {
  padding-bottom: 50px;
}

.woocommerce-billing-fields {
  p.form-row {
    width: 100%;
    float: unset;
    label {
      width: 100%;
      display: block;
    }
    span.woocommerce-input-wrapper {
      width: 100%;
    }
  }
}

li.woocommerce-MyAccount-navigation-link--downloads {
  display: none !important;
}
